*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

/* 한글 폰트 */
@font-face {
  font-family: 'SUIT';
  font-weight: 300;
  src: url('/assets/font/SUIT-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'SUIT';
  font-weight: 400;
  src: url('/assets/font/SUIT-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'SUIT';
  font-weight: 500;
  src: url('/assets/font/SUIT-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'SUIT';
  font-weight: 600;
  src: url('/assets/font/SUIT-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: 'SUIT';
  font-weight: 700;
  src: url('/assets/font/SUIT-Bold.woff2') format('woff2');
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  scroll-behavior: smooth;

  @include respond(tab-land) {
    // width < 1200?
    font-size: 59%; //1 rem =
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 56%; //1 rem =
  }

  @include respond(big-desktop) {
    font-size: 65%; //1rem =
  }
}

body {
  box-sizing: border-box;
  position: relative;
  line-height: 1.5;
  font-family: 'SUIT', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  word-break: keep-all;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

input:focus,
button:focus,
a:focus,
textarea:focus {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: none;
}
